before_script:
  - sh -e /etc/init.d/xvfb start
  - export DISPLAY=:99.0
  - bundle exec rake test_app
env:
  - DB=mysql
  - DB=postgres
language: ruby
rvm:
  - 2.1
script: bundle exec rspec spec
sudo: false
