language: ruby
rvm:
  - 2.1
  - 2.2
env:
  - DB=mysql
  - DB=postgres
sudo: false
before_script:
  - sh -e /etc/init.d/xvfb start
  - export DISPLAY=:99.0
  - bundle exec rake test_app
script: bundle exec rspec spec
